@import url(https://fonts..googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
    ;
}
body{
    background: #000;
}
.btn{
    display: grid;
    position: fixed;
}

.opsz{
    color: 000;
    font-size: 0px;
    font-weight: 1000;
}


